<h2>Panoramic View</h2>
<div class="card">
  <div class="card-body">
    <canvas #canvas
    (window:resize)="onResize($event)"
    (dragenter)="onDragEnter($event)"
    (dragleave)="onDragLeave($event)"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    (wheel)="onWheel($event)">
  </canvas>
  </div>
</div>
