<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a router-link="'/cube'" class="nav-link" routerLinkActive="active">Cube</a>
      </li>
      <li class="nav-item">
          <a router-link="'/pano'" class="nav-link" routerLinkActive="active">Panorama</a>
      </li>
    </ul>
  </div>
</nav>