<div class="card mt-2 p-2">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="tutorial.title"
            name="title"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="tutorial.description"
            name="description"
          />
        </div>
  
        <button (click)="saveTutorial()" class="btn btn-success mt-2">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <div class="alert alert-success" role="alert">
          <p>Tutorial was submitted successfully!</p>
          <button class="btn btn-success mt-2" (click)="newTutorial()">Add</button>
        </div>
        
      </div>
    </div>
  </div>  