<h2>Product Details</h2>

<div *ngIf="product">
  <div class="card p-2">
    <h3>{{ product.name }}</h3>
    <h4>{{ product.price | currency }}</h4>
    <p>{{ product.description }}</p>
  </div>
  <br>
  <button type="button" class="btn btn-success" (click)="addToCart(product)">Buy</button>
</div>