<div class="container">
  <h1>My To Do List</h1>
  <div class="card bg-light p-2 mt-3">
    <div class="mb-3 row">
      <label for="inputDescription" class="col-sm-4 col-form-label">What would you like to do today?</label>
      <div class="col-sm-7">
        <input type="text"
        #newItem
          class="form-control"
          id="inputDescription"
          (keyup.enter)="addItem(newItem.value); newItem.value = ''">
      </div>
      <div class="col-sm-1">
          <!-- Add button -->
          <div class="d-flex flex-row">
            <button type="button" class="btn btn-sm btn-primary" (click)="addItem(newItem.value)">Add</button>
          </div>  
      </div>
    </div>
  </div>
  <hr/>
  <div class="card p-2 mt-2">
    <!-- Buttons that show all, still to do, or done items on click -->
    <div class="btn-toolbar">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button"
          class="btn btn-sm btn-outline-secondary"
          [class.active]="filter == 'all'"
          (click)="filter = 'all'">
          All
        </button>

        <button type="button"
          class="btn btn-sm btn-outline-secondary"
          [class.active]="filter == 'active'"
          (click)="filter = 'active'">
          To Do
        </button>

        <button type="button"
          class="btn btn-sm btn-outline-secondary"
          [class.active]="filter == 'done'"
          (click)="filter = 'done'">
          Done
        </button>
      </div>
    </div>
  </div>
  <div class="card mt-1 p-2">
  </div>

  <h3>
    {{items.length}} <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h3>

  <!-- Filterable List --> 
  <ul class="list-group">
    <li *ngFor="let item of items" class="list-group-item">
      <app-item (remove)="remove(item)" [item]="item"></app-item>
    </li>
  </ul>
</div>