/*****************************************************
 * node_modules imports
 *****************************************************/
 @import 'node_modules/bootstrap/scss/bootstrap.scss';

 /*****************************************************
  * project imports
  *****************************************************/
 @import 'variables';
 @import 'mixins';
 
 /*****************************************************
  * styles
  *****************************************************/

 body {
   background-color: $mainBgColor;
   color: $mainTextColor;
 }
 
 