a {
   color: #ffffff;
}

canvas {
   width: 100%;
   height: 100%;
}

#info {
   position: abslute;
   top: 0;
   
   width: 100%;
   padding: 5px;

   color: #ffffff;
   font-family: monospace;
   font-size: 13px;
   font-weight: 700;
   text-align: center;
}