<h3>Cart</h3>
<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of items"> 
      <span>{{ item.name }}</span>&nbsp;
      <span>{{ item.price | currency }}</span>
  </li>
</ul>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

    <div class="form-group">
      <label for="name">
        Name
      </label>
      <input id="name" type="text" class="form-control" formControlName="name">
    </div>
  
    <div class="form-group">
      <label for="address">
        Address
      </label>
      <input id="address" type="text" class="form-control" formControlName="address">
    </div>
  
    <button class="btn btn-primary" type="submit">Purchase</button>
  
  </form>