<div class="text-5xl font-extrabold mt-4 mb-4">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-blue-500">
      Dashboard
    </span>
  </div>

  <div class="text-3xl font-extrabold mt-4 mb-4">
    <span class="bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-blue-500">
      An App using the Tailwind CSS Framework and Routing
    </span>
  </div>

  <div class="grid grid-cols-6 gap-3 mb-4">
    <div class="border-solid border border-black bg-gray-300">01</div>
    <div class="border-solid border border-black hover:bg-slate-300">02</div>
    <div class="border-solid border-2 border-green-500 hover:bg-lime-300">03</div>
    <div class="border-solid border-4 border-blue-600 bg-blue-300">04</div>
    <div class="border-solid border-2 border-sky-500">05</div>
    <div class="border-solid border-2 border-rose-500">06</div>
  </div>
  <div class="flex flex-row gap-3">
    <div class="basis-1/4 border-solid border-2 border-sky-500 bg-sky-300">01</div>
    <div class="text-center basis-1/4 border-solid border-2 border-rose-500 bg-rose-300" >02</div>
    <div class="text-center basis-1/4 border-solid border-2 border-violet-400">03</div>
    <div class="text-right basis-1/4 border-solid border-2 border-lime-500">04</div>
  </div>
  <div class="grid grid-rows-1 grid-flow-col mt-3 p-3 border-orange-500 border-4 h-96 bg-yellow-200">
    <div>01</div>
  </div>
  <div class="flex p-3 mt-3 border-2 border-dashed border-amber-800">
    <div class="flex-initial w-32 border border-dotted border-amber-700">
      to allow a flex item to shrink but not grow, taking into account its initial size
    </div>
    <div class="flex-auto w-64 border border-dotted border-amber-500">
      to allow a flex item to grow and shrink
    </div>
    <div class="flex-1 w-32 border border-dotted border-amber-500">
      allow a flex item to grow and shrink as needed, ignoring its initial size
    </div>
  </div>