<!-- Header -->
<div class="card bg-light p-2 text-center">
  <p class="display-4">
      An Angular 13.0.0 example application
  </p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light mx-2">
  <a href="#" class="navbar-brand">
    <img src="/assets/img/angular-icon-logo.png" width="40px" alt="Logo" />
  </a>
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="home" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="about" class="nav-link">About</a>
    </li>
  </div>
</nav>

<!-- Content -->
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<div class="row mt-3 p-1 bg-light">
  <div class="col"><p>&copy; 2021, J. Polzin</p></div>
  <div class="col"><p>&nbsp;</p></div>
  <div class="col">
    <p class="float-end">{{ todayDate | date :'d.MM.yyyy HH:mm' }}</p>
  </div>
</div>