<h2 class="mb-2 text-start">Detail View</h2>
<div class="row">
    <div class="col">
        <div class="card bg-light p-2 mb-2">
            <div>
                <p><img src="{{photoObj.thumbnailUrl}}" width="200px"></p>
                <p>
                    <strong>Title:</strong>&nbsp;{{photoObj.title}}<br>
                    <strong>ID:</strong>&nbsp;{{photoObj.id}}<br>
                    <strong>Album:</strong>&nbsp;{{photoObj.albumId}}
                </p>
            </div>
            <a class="btn btn-sm btn-primary mt-3" href="plist">Back</a>
        </div>
    </div>
    <div class="col">&nbsp;</div>
    <div class="col">&nbsp;</div>
</div>
