<!-- Show it when there is no employee -->
<div class="no-data text-center" *ngIf="Employee.length == 0">
  <p>There is no employee added yet!</p>
  <button class="btn btn-outline-primary" routerLink="/create-employee">Add Employee</button>
</div>
  
<!-- Employees list table, it hides when there is no employee -->
<div *ngIf="Employee.length !== 0">
  <h3 class="mb-2 text-center">Employees List</h3>
  <div class="d-flex flex-row bd-highlight mb-2">
    <div class="p-2 bd-highlight">
      <a class="btn btn-sm btn-success" href="create">
        <span class="material-icons">add_circle</span>&nbsp;Add
      </a>
    </div>
  </div>

  <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of Employee">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>
            <td>
              <a class="btn btn-warning material-icons" routerLink="/edit/{{employee.id}}" >mode_edit</a>&nbsp;&nbsp;
              <a class="btn btn-danger material-icons" (click)="deleteEmployee(employee.id)">delete</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
