<div class="d-flex justify-content-between">
  <h3>Products</h3>
  <a [routerLink]="['/cart']" class="btn btn-sm btn-primary" role="button"><i class="material-icons">shopping_cart</i>Checkout</a>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div *ngFor="let product of products">
          <h5>
            <a [title]="product.name + ' details'" [routerLink]="['/products', product.pId]">
              {{ product.name }}
            </a>
          </h5>
        
          <p *ngIf="product.description">
            Description: {{ product.description }}
          </p>
          <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-sm btn-outline-primary" (click)="share()">
                  Share
              </button>
              <app-product-alerts
                [product]="product"
                (notify)="onNotify()">
              </app-product-alerts>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>