<!-- Top Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="list">Employee List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<div class="card p-2 mt-3 bg-light">
  <h2 class="display-5 text-center">
    Angular 12 Frontend
  </h2>
</div>

<!-- Content: Router Outlet -->
<div class="card mt-3 p-2">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<div class="card bg-light p-2 mt-3">
  <div class="row">
    <div class="col">
      <p class="text-start">&copy; 2021, J. Polzin</p></div>
    <div class="col">
      <p class="text-center">&nbsp;</p>
    </div>
    <div class="col">
      <p class="text-end">{{ todayDate | date :'d.MM.yyyy HH:mm' }}</p>
    </div>
  </div>
</div>
